.container {
  border-radius: 8.906px;
  background: rgba(217, 217, 217, 0.12);
  box-shadow:
    -3.943px 3.943px 3.943px 0px rgba(255, 255, 255, 0.43) inset,
    3.943px -3.943px 3.943px 0px rgba(182, 182, 182, 0.43) inset;
  backdrop-filter: blur(25.034873962402344px);

  display: flex;
  padding: 15px 20px;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 1000px;
  margin: 80px auto;
  color: #fff;
}

.input {
  font-family: inherit;
  color: #fff;
  font-size: 17.813px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.95px;
  background-color: transparent;
  border: none;
  border-left: 1.781px solid #fff;
  padding-left: 10px;
  width: 800px;
  outline: none;
}

.input:focus {
  outline: none;
}

.go {
  margin-left: auto;
  color: #fff;
  font-size: 17.813px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.95px; /* 112% */
  border-radius: 8.906px;
  border: 2.672px solid #fff;
  padding: 5px 10px;
  background-color: transparent;
}
