.header {
  padding: 20px;
  background-size: cover; /* or background-size: contain; */
  background-position: center;
  background-image: url("https://pixabay.com/get/ga47cb7a4932f408ae9071f79a0f108b2c20906d706ce120355621ca03c835ed7b9611df23a996a04ba0e7ec45637a3b662489ab77cd3d9106106a237c16af9fd_1280.jpg");
}

.searchParams {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3.551px 3.551px rgba(0, 0, 0, 0.25);
  font-size: 42.614px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.359px; /* 205% */
  font-family: someMediumFont;
}
