.container {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  width: 290px;
}

.container img {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  height: auto;
  grid-row: 1 / -1;
  grid-column: 1;
  border-radius: 20px;
  cursor: pointer;
}

.container img:hover {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: translate(0, -3px);
}

.tags {
  margin: 10px 0 20px 0;
  font-size: 12px;
}
