.header {
  background: url("../../../public/background.jpeg") lightgray 50% / cover
    no-repeat;
  background-size: cover; /* or background-size: contain; */
  background-position: center;
  padding: 20px;
}

.searchParams {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3.551px 3.551px rgba(0, 0, 0, 0.25);
  font-size: 42.614px;
  font-style: normal;
  font-weight: 700;
  line-height: 87.359px; /* 205% */
  font-family: someMediumFont;
}

.param {
  text-transform: capitalize;
}

.pages {
  margin: 0px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeletons {
  padding: 20px 10px;
}

@media (max-width: 768px) {
  .searchParams {
    font-size: 30px;
  }

  .header {
    padding: 10px;
  }
}
