.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #111;
  border-radius: 8.886px;
  background: #fff;
  box-shadow: 0px 3.554px 3.554px 0px rgba(0, 0, 0, 0.25);
  min-width: 1200px;
  max-height: 700px;
  overflow: scroll;
}

.header {
  color: #3b4043;
  font-size: 21.325px;
  font-style: normal;
  font-weight: 600;
  line-height: 51.447px; /* 241.25% */

  border-radius: 8.886px 8.886px 0px 0px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.content {
  padding: 10px 20px;
  display: flex;
  gap: 20px;
}

.image img {
  height: 480px;
  width: auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  object-fit: cover;
  object-position: center;
}

.content h2 {
  font-weight: 600;
  color: #3b4043;
  font-size: 21.325px;
  font-style: normal;
  line-height: 51.447px; /* 241.25% */
}

.tags {
  padding: 10px 20px;
}

.info {
  width: 100%;
  padding: 0px 20px;
}

.info section {
  width: 100%;
}

.sizes {
  width: 100%;
  border: 1px solid #dee8f4;
  border-radius: 10px;
  overflow: hidden;
}

.size {
  border: 1px solid #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #525252;
  font-style: normal;
  font-weight: 400;
  line-height: 21.325px; /* 171.429% */
  cursor: pointer;
}

.size:hover {
  background: #e7e7e7;
}

.selectedSize {
  background: #e0e0e0;
}

.normalSize {
  background-color: #fff;
}

.option {
  display: flex;
  align-items: center;
  gap: 40px;
}

.option span {
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  width: 100%;
}

.download,
.like,
.copy {
  font-weight: 600;
  border-radius: 4.443px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  padding: 10px 20px;
  text-align: center;
}

.download {
  display: block;
  margin: 15px 0;
  color: #fff;
  background: #4bc34b;
  width: 100%;
}

.download:hover {
  background-color: green;
}

.copy {
  border: 1px solid #111;
  cursor: pointer;
  background-color: #fff;
  color: #111;
  font-weight: 600;
  font: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  justify-content: center;
}

.like {
  border: 1px solid #111;
  color: #111;
  font-weight: 600;
  font: inherit;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
  cursor: pointer;
}

.like:hover,
.copy:hover {
  background: #e7e7e7;
}

.meta {
  column-count: 3;
}

.metaCategory {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.question {
  color: #717579;
  font-style: normal;
  font-weight: 600;
  line-height: 23.102px; /* 185.714% */
  text-transform: capitalize;
  font-size: 14px;
}

.answer {
  color: #3b4043;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 23.102px; /* 144.444% */
  text-transform: capitalize;
  margin-bottom: 10px;
}

.closeButton {
  cursor: pointer;
}

@media (max-width: 1330px) {
  .container {
    min-width: 300px;
    width: 100%;
    min-height: 800px;
    overflow: scroll;
  }

  .header {
    font-size: 18px;
    line-height: 25px;
    padding: 10px;
  }

  .content {
    padding: 10px;
    flex-direction: column;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .info {
    padding: 10px;
  }

  .question {
    font-size: 12px;
  }

  .answer {
    font-size: 14px;
  }
}
